* {
    box-sizing: border-box;
} 
html, body {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
}
section {
    width: 500px;
    border: 2px solid pink;
    text-align: center;
}

li {
    list-style: none;
    height: 16px;
    border: 1px solid hotpink;
    border-radius: 25%;
    width: max-content;
    padding: 2px;
    margin: 3px;
}
a {
    text-decoration: none;
}



@media screen and (max-width: 420px) {

}